.cover-image {
  width: 100vw;
  height: 61vh;
  background-image: url(../Statics/Images/cover-default.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
